---
apiVersion: v1
kind: Namespace
metadata:
  name: "${k8s_namespace}"
spec: {}
---
apiVersion: v1
data:
  username: "${base64encode(mysql_user)}"
  password: "${base64encode(mysql_password)}"
  database: "${base64encode(mysql_database)}"
  host: "${base64encode(mysql_host)}"
kind: Secret
metadata:
  name: mysql
  namespace: "${k8s_namespace}"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: wiki
  name: wiki
  namespace: "${k8s_namespace}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wiki
  strategy: {}
  template:
    metadata:
      labels:
        app: wiki
    spec:
      containers:
      - image: mediawiki:stable
        name: mediawiki
        env:
        - name: MYSQL_HOST
          valueFrom: 
            secretKeyRef:
              name: mysql
              key: mysql_host
        - name: MYSQL_USER
          valueFrom: 
            secretKeyRef:
              name: mysql
              key: mysql_user
        - name: MYSQL_DATABASE
          valueFrom: 
            secretKeyRef:
              name: mysql
              key: mysql_database
        - name: MYSQL_PASSWORD
          valueFrom: 
            secretKeyRef:
              name: mysql
              key: mysql_password
        resources: {}
