---
apiVersion: v1
kind: Namespace
metadata:
  name: "${k8s_namespace}"
spec: {}
---
apiVersion: v1
data:
  username: "${base64(mysql_user)}"
  password: "${base64(mysql_password)}"
  database: "${base64(mysql_database)}"
  host: "${base64(mysql_host)}"
kind: Secret
metadata:
  name: mysql
  namespace: "${k8s_namespace}"
